* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor {
  background-color:rosybrown;
  padding: 24px;
  max-width: 400px;
  border-radius: 12px;
  margin: 0 auto;
}

.subtitulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: whitesmoke;
}

.peliculas {
  list-style: none;
}

.pelicula {
  padding: .8rem .5rem;
  color: darkred;
  margin-bottom: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.fondo-uno {
  background-color: mistyrose;
}

.fondo-dos {
  background-color: whitesmoke;
}

.fondo-uno:hover,
.fondo-dos:hover {
  background-color:rosybrown;
}