* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  color:whitesmoke;
  background-color:midnightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 200px;
  padding: .8rem .5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: .4rem;
  background-color:darkseagreen;
  color: aliceblue;
  box-shadow: 0 4px 0 0 darkcyan;
  cursor: pointer;
}

button:hover {
  background-color:seagreen;
  color:whitesmoke; 
  box-shadow: 0 0 0 0;
}